@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
:root {
  --cor-principal: #2A3042;
  --cor-bg:#E5E5E5;
  --cor-texto: #575757;
  --cor-secundaria:#007BFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

ul, li{
  list-style-type: none;
}

input, button, textarea {
  font-family: 'Poppins', sans-serif;
}
